{% extends 'base.html' %}
{% block content %}
<p>Vous êtes connecté en tant que {{ request.user }}</p>
    <h1 style="text-align: center; align-items: center;">Créer un ticket</h2>
    <form method="post" enctype="multipart/form-data">
        {{ ticket_form.as_p }}
        {% csrf_token %}
    </form>
    <h1 style="text-align: center; align-items: center;">Créer une critique</h2>
    <form method="post" enctype="multipart/form-data">
        {{ review_form.as_p }}
        {% csrf_token %}
        <button type="submit">Publier</button>
    </form>
{% endblock content %}