{% load static %}

<div style="display: flex; flex-direction: column; align-items: center; margin-top: 25px;">
    <img id="previous-pic" style="margin-bottom: 15px; width: 400px;"/>

    <label id='changeLabel' for="id_image"
        style="border: 1px solid black; display: inline-block; padding: 6px 12px; cursor: pointer;">
        <i class="fa fa-cloud-upload"></i> Modifier la photo
    </label>

    <input type="file" name="image" id="id_image" style="display: none;">

    <img id="display-img" style="margin-top: 15px; width: 400px;"/>
</div>