{% extends 'base.html' %}
{% load articles_extras %}
{% block content %}
    <div class="container_button_global_review">
        <a href="{% url 'articles:create_ticket' %}"><button style="margin-right: 25px;">Demander une critique</button></a>
        <a href="{% url 'articles:create_both' %}"><button style="margin-left: 25px;">Créer une critique</button></a>
    </div>
    {% if final_list %}
        <div class="div_parent_list_r_and_ticket">
        {% for element in final_list %}
            {% if element|model_type == 'Ticket' %}
                <div class="div_list_r_and_ticket">
                    {% if element.creator == request.user %}
                        <h4>Vous avez publié un ticket</h4>
                    {% else %}
                        <h4>{{ element.creator }} a publié un ticket</h4>
                    {% endif %}
                    <div class="div_r_ticket_title_and_date">
                        <p> {{ element.title }} </p>
                        <p>Créé le {{ element.date_created }} </p>
                    </div>
                    <p> {{ element.description }} </p>
                    {% if element.image %}
                    <img src="{{ element.image.url }}" alt="Image du ticket">
                    {% endif %}
                    {% if element.pk not in ticket_with_review%}
                        <div class="div_ticket_list_btns">
                            <a href="{% url 'articles:create_review' element.id %}"><button>Créer une critique</button></a>
                        </div>
                    {% endif %}
                </div>
            {% elif element|model_type == 'Review' %}
                <div class="div_list_r_and_ticket">
                    
                    <div class="div_r_ticket_title_and_date">
                        {% if element.user == request.user %}
                            <h4>Vous avez publié une critique</h4>
                        {% else %}
                            <h4>{{ element.user }} a publié une critique</h4>
                        {% endif %}
                        
                        <p>Créée le {{ element.date_created }}</p>
                    </div>
                    <div class="r_headline_rating">
                        <p>{{ element.headline }} -</p>
                        <div class="r_ratings">
                            <span class="fa fa-star {% if element.rating > 0 %}checked {% endif %}"></span>
                            <span class="fa fa-star {% if element.rating > 1 %}checked {% endif %}"></span>
                            <span class="fa fa-star {% if element.rating > 2 %}checked {% endif %}"></span>
                            <span class="fa fa-star {% if element.rating > 3 %}checked {% endif %}" ></span>
                            <span class="fa fa-star {% if element.rating > 4 %}checked {% endif %}"></span>
                        </div>
                    </div>
                    <p>{{ element.body }}</p>
                    <div class="div_inner_ticket">
                        <div class="div_r_ticket_title_and_date">
                            {% if element.ticket.creator == request.user %}
                            <h4>Ticket - Vous</h4>
                            {% else %}
                            <h4>Ticket - {{ element.ticket.creator }}</h4>
                            {% endif %}
                            <p>Crée le {{ element.ticket.date_created }}</p>
                        </div>
                        <p>{{ element.ticket.description }}</p>
                        {% if element.ticket.image %}
                        <img src="{{ element.ticket.image.url }}" alt="Image de la revue">
                        {% endif %}
                    </div>
                    
                </div>
            {% endif %}
        {% endfor %}
        </div>
    {% else %}
        <p>Pas de tickets ou de revues disponible</p>
    {% endif %}
{% endblock content %}