<html>
    <head>
        <title>LITReview</title>
    </head>
    <body>
        <h1>LITReview</h1>
        {% block content %}{% endblock content %}
        {% if user.is_authenticated %}
            <p><a href="{% url 'home' %}">Accueil</a></p>
            <p><a href="{% url 'review_create' %}">Écrire un billet</a></p>
            <p><a href="{% url 'photo_upload' %}">Télécharger une photo</a></p>
            <p><a href="{% url 'create_multiple_photos' %}">Télécharger plusieurs photos</a></p>
            <p>Vous êtes connecté en tant que {{ request.user }}. <a href="{% url 'logout' %}">Se déconnecter</a></p>
        {% endif %}
    </body>
</html>