{% load static %}
<html>
    <head>
        <title>LITReview</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <div class="navbar">
            <div style="width: 392.92px;">
                <p style="color: white; margin-left: 5px;">Bonjour, {{ request.user }}</p>
            </div>
            <div class="title_navbar">
                <p>LITReview</p>
            </div>
            <div>
                <a href="{% url 'articles:flow' %}">Flux</a>
                <a href="{% url 'articles:posts' %}">Posts</a>
                <a href="{% url 'authentication:follows' %}">Abonnements</a>
                <a href="{% url 'authentication:logout' %}">Se déconnecter</a>
             </div>

        </div>
        <div class="main">
            {% block content %}{% endblock content %}
        </div>
    </body>
</html>