.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
  }
  
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background: #ddd;
  color: black;
}

.title_navbar p{
  color: #f2f2f2;
}

.container_button_global_review{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
.container_button_global_review button{
  width: 250px;
  font-size: 16px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  border: 1px solid;
  border-radius: 5px;
  cursor: pointer;
}

.main{
  padding-top: 16px;
  margin-top: 30px;
}

.td{
  border: 1px solid #333;
}



.div_login_signup{
  padding-top: 75px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}

.div_signup_in_login{
  display: flex;
  flex-direction:column;
  align-items: center;
}

.btn_generic_litreview{
  cursor: pointer;
  margin-top: 15px;
  padding-top: 7px;
  padding-bottom: 7px;
  border: 1px solid;
  border-radius: 5px;
  width: 100px;
}
