.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
  }
  
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background: #ddd;
  color: black;
}

.title_navbar p{
  color: #f2f2f2;
}

.container_button_global_review{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
.container_button_global_review button{
  width: 250px;
  font-size: 16px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  border: 1px solid;
  border-radius: 5px;
  cursor: pointer;
}

.main{
  padding-top: 16px;
  margin-top: 30px;
}

.td{
  border: 1px solid #333;
}



.div_login_signup{
  padding-top: 75px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}

.div_signup_in_login{
  display: flex;
  flex-direction:column;
  align-items: center;
}

.btn_generic_litreview{
  cursor: pointer;
  margin-top: 15px;
  padding-top: 7px;
  padding-bottom: 7px;
  border: 1px solid;
  border-radius: 5px;
  width: 100px;
}


.div_parent_list_r_and_ticket{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}
.div_list_r_and_ticket{
  margin-bottom: 15px;
  padding:10px;
  background-color: #F4F4F4;
  border: 1px solid black;
  border-radius: 15px;
  width: 830px;
  display: flex;
  flex-direction: column;
}
.div_r_ticket_title_and_date{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.div_ticket_list_btns{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  margin-top: 10px;
}
.div_ticket_list_btns button{
  cursor: pointer;
  margin-left: 15px;
  /* width: 70px; */
  height: 35px;
  padding: 5px;
  border: 1px solid black;
  border-radius: 7px;
}

.div_inner_ticket{
  padding:10px;
  border: 1px solid black;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
}

.r_headline_rating{
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.r_ratings{
  margin-left: 4px;
}

.checked{
  color: orange;
}