{% extends "base.html" %}
{% block content %}
    <h1>Suivre d'autres membres</h1>
    <form method="post">
        {{ add_followed_form }}
        {% csrf_token %}
        <p>{{ message }}</p>
        <div>
            <button type="submit" class="btn btn-outline-dark">S'abonner</button>
        </div>
    </form>

    <div>
        <div>
            <h2>Abonnements</h2>
           <table>
                {% for member in followed %}
                    <tr>
                        <td>
                            {{ member }}
                        </td>
                        <td>
                            <a href="{% url 'authentication:remove_followed' followed_id=member.id %}">Se désabonner</a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <div>
           <h2>Abonnés</h2>
            <table>
                {% for member in followers %}
                    <tr>
                        <td>{{ member.user }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock content %}