{% extends "base.html" %}
{% block content %}

<h3 class="text_center">Suivre d'autres utilisateurs</h3>
<form method="post">
    <div class="basic_display_flex_center">
        {{ add_followed_form }}
        {% csrf_token %}
        <button type="submit" class="btn_generic_litreview_margin_left">S'abonner</button>
    </div>
    <p class="text_center">{{ message }}</p>
</form>

<div>
    <div>
        <h3 class="text_center">Abonnements</h3>
        <table class="litreview_table">
            {% for member in followed %}
                <tr class="litreview_tr">
                    <td class="litreview_td">
                        {{ member }}
                    </td>
                    <td class="litreview_last_td">
                        <a class="link_without_css" href="{% url 'authentication:remove_followed' followed_id=member.id %}">Désabonner</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <div>
        <h3 class="text_center">Abonnés</h3>
        <table class="litreview_table">
            {% for member in followers %}
                <tr class="litreview_tr">
                    <td class="litreview_td">{{ member.user }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock content %}