{% extends 'base.html' %}
{% block content %}
    <div class="div_login_signup">
        <div class="div_signup_in_login">
            <h3>Inscrivez-vous maintenant</h3>
            <a href="{% url 'authentication:signup' %}"><button class="btn_generic_litreview">S'inscrire</button></a>
        </div>
        <div>
            <h3>Connectez-vous</h3>
            <p>{{ message }}</p>
            <form method="post">
                {{ form.as_p }}
                {% csrf_token %}
                <button class="btn_generic_litreview" type="submit">Se connecter</button>
            </form>
        </div>
    </div>
    
{% endblock content %}